@media screen and (max-width:600px) {
    
    .songItem {
        /* flex-direction: column; */
        /* justify-content: center; */
        min-width: 309px;
    }

    /* .container{
        padding: 15px;
    } */

    .songItem{
        margin: 12px 5px;
    }

}