@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding:0;
}
:root{
    --background-color:#63084a;
}

body{
    /* color: var(--background-color); */
    background-color: var(--background-color);
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    background-color:#820b61;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    
}

nav ul li{
    padding: 0 12px;

}

.logo img{
    width: 50px;
    height: 50px;
    padding:0 15px 0 0;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bolder;
}

.container{
    min-height: 80vh;
    background-color: #760c59;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 23px auto;
    width:75%;
    border-radius: 12px;
    padding: 35px;

}

.songItemContainer{
    margin-top: 60px;
}

.songItem{
    background-color: #a6127d;
    color:white;
    /* height: 50px; */
    width: 60%;
    margin: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;

}

.songItem img{
    width: 42px;
    
}

.timestamp{
    margin: 0 22px;
}

.bottom{
    position: sticky;
    height: 100px;
    bottom: 0;
    background-color:#820b61;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#songProgress{
    width:80vw;
    cursor: pointer;
}

.icons{
    margin: 15px 0;
    cursor: pointer;
}

.songDisplay{
    position: absolute;
    left: 10vw;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.songDisplay img{
    opacity: 0;
    transition: opacity 1s ease-in;
}